---
import ParallaxWindow from "../components/ParallaxWindow.vue";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
    <div class="grid place-items-center h-full bg-black/60">
        <main class="flex flex-col gap-8 relative z-[1000] font-pacifico text-5xl">
            <ParallaxWindow client:only />
        </main>
    </div>
</BaseLayout>
