---
import FractalTree from "../components/FractalTree.vue";
import BaseLayout from "../layouts/BaseLayout.astro"
---
<BaseLayout>
    <div class="grid place-items-center h-full relative">
        <FractalTree client:visible />
    </div>
</BaseLayout>

