---
import BaseLayout from "../layouts/BaseLayout.astro";
import RainbowWind from "../components/RainbowWind.vue";
---

<BaseLayout>
    <div class="grid place-items-center h-full relative">
        <RainbowWind client:visible />
    </div>
</BaseLayout>


