---
import BaseLayout from "../layouts/BaseLayout.astro";
import FlappyEmoji from "../components/FlappyEmoji.vue";
---

<BaseLayout>
    <div class="h-full grid place-items-center py-40">
        <FlappyEmoji client:visible />
    </div>
</BaseLayout>

