---
import BaseLayout from "../layouts/BaseLayout.astro";
import GameOfLife from "../components/GameOfLife.vue";
---


</script>

<BaseLayout>
    <div class="h-full grid place-items-center">
        <GameOfLife client:visible />
    </div>
</BaseLayout>

