---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
    <div class="grid place-items-center h-full">
        <main class="flex flex-col gap-4 relative z-[1000]">
            <h1 class="text-neutral font-pacifico text-5xl">A Year of Creation</h1>
        </main>
    </div>
</BaseLayout>
